.body{
  background-color: #1f2833;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-create-course{
    background-color: #1f2833;
  min-height: 100vh;
  margin: 0;
}

.main-text{
    padding: 10px
}

.input-create-course{
    min-width: 30%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    gap: 10px;

    background-color: rgb(2, 37, 53);
    border-radius: 20px;
}

.input-text{
    color: white;
}

.add-task{
    padding: 20px;
    margin: 10px;
    display:inline-flex;

    background-color: rgb(2, 37, 53);
    border-radius: 20px;
}

.headerCreateCourse{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    // padding: 10px;
    border-bottom: 3px solid rgb(2, 37, 53);
}

.header-chapters{
    display: flex;
    gap: 10px;
}

.chapter-buttons{
    display: flex;
    flex-direction: column;
}

.chapter-created{
    // display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: rgb(2, 53, 45);
    border-radius: 20px;
}

.chapter{
    margin-top: 10px;
}

.add-task-text{
    margin: 10px;
    color: white;
}
.addForm{
    background-color: rgb(2, 37, 53);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
}

.button-hz{
    margin-top: 10px;
}

.button-create-chapter{
    margin: 10px;
}