.main-body{
  background-color: #1f2833;
  min-height: 100vh;
  margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 37, 53);
    height: 70px;
}

.main-header-text{  
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.main-h1{
    color: white;
}

.profile-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 37, 53);
    border-radius: 10px;
}

.profile-menu{
    margin: 40px;
    margin-top: 80px;
    display: flex;
    display: inline-flex;
    flex-direction: row;
}

.profile-menu-buttons{
    margin-top: 50px;
    min-width: 350px;
    background-color: rgb(2, 37, 53);
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.profile-menu-window{
    background-color: rgb(2, 37, 53);
    border-radius: 10px;
    position: relative;
    left:50px;
}

.theme-button {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.main-div{
    display: flex;
    justify-content: center;
}
.button-switch {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    min-width: 50px;
}

.button-switch .yui-button_view_normal {
    background-color: #4caf50; /* Цвет выбранной кнопки */
    color: white;
}

.button-switch .yui-button_view_outlined {
    background-color: white;
    color: #4caf50;
    border: 2px solid #4caf50;
}



.signup{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}



.form-main{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.form-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-btn{
    display: flex;
    justify-content: center;
    padding: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 56px;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.text{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    
}